Provides tools to traverse and visualize drupal entity graph.

<h2>Usage</h2>
See <a href="https://cgit.drupalcode.org/entity_graph/tree/src/EntityGraphInterface.php?h=8.x-1.x" target="_blank">EntityGraphInterface</a>